.squad-51-get-bg {
  background-image: url("Images/GetSquad51Background.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
}
.squad-51-get-container {
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
}
.squad-51-get-footer {
  position: fixed;
  left: 0;
  bottom: 4rem;
  width: 100%;
  text-align: center;
}
.squad-51-get-button {
  margin: 0.5rem;
  opacity: 1;
}