body {
  padding-top: 5rem;
}
h4 {
  color: #383838;
}
h1 {
  color: #383838;
}
.newspaper-body {
  background-image: url("Images/Background.jpg" );
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
}
.newspaper-section {
  margin-top: 25px;
}
.newspaper-text {
  font-weight: bold;
  color: #383838;
}
.newspaper-horizontal-line {
  background-image: url("Images/DarkBackground.jpg");
  width: 100%;
  height: 2px;
}
.newspaper-horizontal-line-medium {
  background-image: url("Images/DarkBackground.jpg");
  width: 35%;
  height: 2px;
  margin: auto;
}
.newspaper-horizontal-line-space {
  height: 5px;
}
.newspaper-dark-box {
  background-image: url("Images/DarkBackground.jpg");
}
.newspaper-dark-box > h4 {
  color: #C6C6C6;
  padding: 5px;
}
.newspaper-bordered-box {
  border-style: solid;
  border-width: 2px;
  border-color: #383838;
}
.shadow {
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}
.loomiarts-about {
  text-align: center;
}
.squadron51 {
  text-align: center;
}
.squadron51>p {
  padding: 1rem 1rem;
}
.squadron51>img {
  padding-bottom: 2rem;
}
.features-list {
  text-align: left;
  margin: 10px;
}
.contact {
  padding-bottom: 3rem;
  text-align: center;
}
.loomiarts-red-button {
  background-color: #A20033;
  border-color: #A20033;
}
.movie-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
}
.movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.social-icon {
	margin: 12px;
	width: 50px;
}
.loading-spinner {
    position:relative;
    width:100%;
}
.loading-spinner>img {
    position:absolute;
    left:0;
    right:0;
    margin:auto;
}